.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:20px;
    background-color: #95dada;
    border-radius: 3px;
    padding: 10px;
    transition: 2s;
    overflow: hidden;
    position: relative;
}
.item:hover{
    transform: scale(1.1);
}
.img{
    width: 120px;
    height: 120px;
}
.button{
    padding: 15px 25px;
    color:white;
    background-color: black;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.button:hover{
    background-color: white;
    color: black;
}